*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif; 
}
/* shared common css */
.btn-primary{
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    cursor: pointer;
    border: 0;
}
/* Header and hero section start */
.header{
    background-color: #FFF8F3;
    background-image: url('Images/header_bg.png'),url('Images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.logo{
color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.the-a{
color: #FD6E0A;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
cursor: pointer;
}
.menu-con{
    display: flex;
    justify-content: space-between;
    padding:30px 150px;
}
.menu ul li{
    display: inline;
    margin-left: 50px;
}
.menu ul li a{
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.hero-con{
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
}

.hero-intro h3{
padding-top: 185px;
color:#474747;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.hero-intro h1{
color:#181818;
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Ruman{
    color: #FD6E0A;
}
.hero-intro p{
color: #757575;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding: 30px 0;
}
#btngap{
    margin-right: 30px;
}
/* Header and hero section end */

/*About Me Section Start*/
.about-box {
        background: #FFF8F3;
        border-radius: 10px;
        margin: 130px 200px;
        text-align: center;
        padding:130px 150px ;
    }
.about-box h1{
color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-box p{
color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
text-align: center;
padding: 30px 0;
}
.about-info-con{
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

p.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-top: -50px;
}

/* What i do section starts */
.What-i-do h1{
color:#181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.What-i-do p{
color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin: 25px 334px;
}

.skill-box{
width: 267px;
 height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
margin-right: 24px;
}
.skill-box p{
color:#757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */;
width: 201px;
margin-left: 30px;
text-align: left;
}
.skill-con{
    display: flex;
    justify-content: center;
}
.skill-box img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.skill-box h3{
    margin-left: 30px;
}

/* Resume section start */
.res-heading{
color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 120px;
margin-bottom: 100px;
}
.edu-head{
color: #474747;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.degree{
color: #474747;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 30px;
margin-bottom: 10px;
}
.univ{
    color:  #757575;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 20px;
}
.descrip{
color: #757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
width: 511px;
margin-bottom: 30px;
}
.resume-con{
    display: flex;
    justify-content: space-evenly;
}
.dwnbtn{
    width: 200px;
    height: 64px;
    flex-shrink: 0; 
    border-radius: 5px;
    background: #FD6E0A; 
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 112px;
    cursor: pointer;   
    border: 0;
}
/* Footer section start from here */
.footer{
    background: #FFF8F3;
    width: 1600px;
    height: 780px;
    flex-shrink: 0;  
}
.connect h1{
color: #181818;
text-align: left;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 130px;
padding-bottom: 20px;
}
.connect p{
width: 562px;
color: #474747;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
text-align: left;
margin-bottom: 30px;
}
.sicon img{
width: 24px;
height: 24px;
}
.both-pad{
    margin-left: 24px;
    margin-right: 24px;
}
.message h1{
    color: #181818;
    text-align: left;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 130px;
    padding-bottom: 20px;
}
.inbox{
    display: flex;
    flex-direction: column;
    padding:0 24px;
}
.nm{
    width: 461px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF; 
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */ 
    padding-left: 36px;
    margin-bottom: 24px; 
    border: 0;
}
.ta{
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background:  #FFF;
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-left: 36px;
    margin-bottom: 24px; 
    border: 0;
}
.last-btn{
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: 0;
}
.fcon{
    display: flex;
    justify-content: space-evenly;
}
/* Copywritht txt */
.copy{
    text-align: center;
    margin-top: 100px;
}
